* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.pricing-inner .pricing-cols .pricing__column .pricing__column__price .price, .pricing-inner .pricing-heading .pricing-heading__title, .features-inner .features-heading .features-heading__title, .header-inner .header__logo .header__logo__title {
  font-family: "Source Sans 3", sans-serif;
  font-weight: bold;
  color: #010101;
  font-size: 32px;
}

.pricing-inner .pricing-heading .pricing-heading__subtitle, .features-inner .features-heading .features-heading__subtitle, .intro-inner .intro__subtitle {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  color: #898989;
  font-size: 20px;
}

.pricing-inner .pricing-cols .pricing__column .pricing__column__btn, .pricing-inner .pricing-cols .pricing__column .pricing__column__text h3, .features-inner .features-grid .grid__item__text .grid__item__title, .intro-inner .intro__btn {
  font-family: "Source Sans 3", sans-serif;
  font-weight: bold;
  color: #010101;
  font-size: 24px;
}

.pricing-inner .pricing-cols .pricing__column .pricing__column__price .limit, .pricing-inner .pricing-cols .pricing__column .pricing__column__text h4 {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  color: #898989;
  font-size: 16px;
}

.features-inner .features-grid .grid__item__text .grid__item__subtitle {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  color: #313841;
  font-size: 14px;
}

header {
  background-color: #fcdb00;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}

.header-inner {
  max-width: 70vw;
  width: 100%;
  height: 70px;
  padding: 40px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-inner .header__nav {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  font-size: 24px;
  color: #010101;
}
.header-inner .header__logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header-inner .header__logo i {
  color: #010101;
  font-size: 43px;
  margin-right: 5px;
}
.header-inner .header__logo .header__logo__title {
  margin-left: 5px;
}
.header-inner .header-socials {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.header-inner .header-socials i {
  font-size: 24px;
  color: #010101;
  margin: 0 0 0 20px;
}

.intro {
  background-color: #fcdb00;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro-inner {
  max-width: 70vw;
  width: 100%;
  height: calc(100vh - 70px);
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.intro-inner .intro__heading {
  max-width: 35vw;
  font-family: "Source Sans 3", sans-serif;
  font-weight: bold;
  font-size: 48px;
  color: #010101;
  text-align: center;
  margin-bottom: 25px;
}
.intro-inner .intro__subtitle {
  max-width: 28vw;
  color: #010101;
  text-align: center;
  margin: 25px 0px;
}
.intro-inner .intro__btn {
  width: 20%;
  height: 2.5em;
  border: 3px solid #010101;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  line-height: 2.5em;
  font-weight: bold;
  background: rgba(0, 0, 0, 0);
  margin-top: 25px;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

.features-inner {
  max-width: 70vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 0;
}
.features-inner .features-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 0 80px;
}
.features-inner .features-heading .features-heading__title {
  text-align: center;
  margin-bottom: 10px;
}
.features-inner .features-heading .features-heading__subtitle {
  width: 70%;
  text-align: center;
  margin: 10px 0;
}
.features-inner .features-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 7% 15px 23% 15px 7% 15px 23% 15px 7% 15px 23%;
  grid-template-columns: 7% 23% 7% 23% 7% 23%;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  row-gap: 4em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 60px 0 100px;
  padding: 0 20px;
}
.features-inner .features-grid .grid__item {
  text-align: end;
}
.features-inner .features-grid .grid__item i {
  font-size: 40px;
}
.features-inner .features-grid .grid__item__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}
.features-inner .features-grid .grid__item__text .grid__item__title {
  vertical-align: top;
}
.features-inner .features-grid .grid__item__text .grid__item__subtitle {
  margin-top: 10px;
  padding-right: 40px;
  vertical-align: top;
}

.pricing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

.pricing-inner {
  max-width: 70vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 60px 0;
}
.pricing-inner .pricing-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0 80px;
}
.pricing-inner .pricing-heading .pricing-heading__title {
  text-align: center;
  margin-bottom: 10px;
}
.pricing-inner .pricing-heading .pricing-heading__subtitle {
  width: 70%;
  text-align: center;
  margin: 10px 0;
}
.pricing-inner .pricing-cols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.pricing-inner .pricing-cols .pricing__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 15px;
  width: 280px;
}
.pricing-inner .pricing-cols .pricing__column .pricing__column__photo {
  background-color: #ebebeb;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
}
.pricing-inner .pricing-cols .pricing__column .pricing__column__photo i {
  font-size: 40px;
  color: #010101;
  vertical-align: middle;
}
.pricing-inner .pricing-cols .pricing__column .pricing__column__text {
  text-align: center;
  margin: 20px 0;
}
.pricing-inner .pricing-cols .pricing__column .pricing__column__text h3 {
  margin: 0px 0 20px;
}
.pricing-inner .pricing-cols .pricing__column .pricing__column__text h4 {
  padding: 0 30px;
}
.pricing-inner .pricing-cols .pricing__column .pricing__column__price {
  text-align: center;
}
.pricing-inner .pricing-cols .pricing__column .pricing__column__price .price {
  text-transform: uppercase;
}
.pricing-inner .pricing-cols .pricing__column .pricing__column__price .price::after {
  display: block;
  content: "";
  background: #010101;
  height: 2px;
  width: 50px;
  margin: 8px auto;
}
.pricing-inner .pricing-cols .pricing__column .pricing__column__btn {
  width: 55%;
  height: 2.5em;
  border: 3px solid #010101;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  line-height: 2.5em;
  font-size: 16px;
  background: rgba(0, 0, 0, 0);
  margin-top: 25px;
  padding: 0 15px;
}
.pricing-inner .pricing-cols .pricing__column:nth-child(2) .pricing__column__photo {
  background-color: #010101;
}
.pricing-inner .pricing-cols .pricing__column:nth-child(2) .pricing__column__photo i {
  color: white;
}