* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.footer-container .footer-heading .heading__title, .intouch-container .intouch-inner .intouch-heading .heading__title, .stats-container .stats-inner .stats-heading .heading__title, .team-container .team-inner .team-heading .heading__title, .works-container .works__inner .works__heading .heading__title, .pricing-inner .pricing-cols .pricing__column .column__item .pricing__column__price .price, .pricing-inner .pricing-heading .pricing-heading__title, .features-inner .features-heading .features-heading__title, .header-inner .header__logo .header__logo__title {
  font-family: "Source Sans 3", sans-serif;
  font-weight: bold;
  color: #010101;
  font-size: 32px;
}

.footer-container .footer-heading .heading__subtitle, .intouch-container .intouch-inner .intouch-heading .heading__subtitle, .stats-container .stats-inner .testimonial-container .testimonial__column .testimonial__item .quote-container .quote, .stats-container .stats-inner .stats-heading .heading__subtitle, .team-container .team-inner .team-heading .heading__subtitle, .works-container .works__inner .works__heading .heading__subtitle, .pricing-inner .pricing-heading .pricing-heading__subtitle, .features-inner .features-heading .features-heading__subtitle, .intro-inner .intro__subtitle {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  color: #898989;
  font-size: 20px;
}

.footer-container .footer__form .footer__form__btn, .intouch-container .intouch-inner .form-container .form__column .form__column__btn, .intouch-container .intouch-inner .contacts-container .contacts__row .contacts__column .contacts__item .title, .stats-container .stats-inner .testimonial-container .testimonial__column .testimonial__item .name, .stats-container .stats-inner .statistics-container .statistics__row .statistics__column .statistics__item .number, .team-container .team-inner .team-profiles .profiles__row .profiles__column .profiles__item .item__text .profile__name, .works-container .works__inner .works-examples .examples__row .examples__column .examples__item .item__text .item__title, .pricing-inner .pricing-cols .pricing__column .column__item .pricing__column__btn, .pricing-inner .pricing-cols .pricing__column .column__item .pricing__column__text h3, .features-inner .features-grid .grid__item__text .grid__item__title, .intro-inner .intro__btn {
  font-family: "Source Sans 3", sans-serif;
  font-weight: bold;
  color: #010101;
  font-size: 24px;
}

.footer-container .navigation .nav__row .nav__column .column__container, .footer-container .navigation .info__column, .footer-container .footer__form input, .intouch-container .intouch-inner .form-container .form__column input, .intouch-container .intouch-inner .form-container .form__column textarea, .intouch-container .intouch-inner .contacts-container .contacts__row .contacts__column .contacts__item .subtitle, .stats-container .stats-inner .testimonial-container .testimonial__column .testimonial__item .job, .stats-container .stats-inner .statistics-container .statistics__row .statistics__column .statistics__item .stat, .team-container .team-inner .team-profiles .profiles__row .profiles__column .profiles__item .item__text .profile__job, .pricing-inner .pricing-cols .pricing__column .column__item .pricing__column__price .limit, .pricing-inner .pricing-cols .pricing__column .column__item .pricing__column__text h4 {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  color: #898989;
  font-size: 16px;
}

.team-container .team-inner .team-profiles .profiles__row .profiles__column .profiles__item .item__text .profile__subtitle, .works-container .works__inner .works-examples .examples__row .examples__column .examples__item .item__text .item__subtitle, .works-container .works__inner .works-examples .examples__row .examples__column .examples__item .item__photo .photo__statistic .photo__views,
.works-container .works__inner .works-examples .examples__row .examples__column .examples__item .item__photo .photo__statistic time, .features-inner .features-grid .grid__item__text .grid__item__subtitle {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  color: #313841;
  font-size: 14px;
}

header {
  background-color: #fcdb00;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}

.header-inner {
  width: 941px;
  height: 70px;
  padding: 40px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-inner .header__nav {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  font-size: 24px;
  color: #010101;
}
.header-inner .header__logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header-inner .header__logo i {
  color: #010101;
  font-size: 43px;
  margin-right: 5px;
}
.header-inner .header__logo .header__logo__title {
  margin-left: 5px;
}
.header-inner .header-socials {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.header-inner .header-socials i {
  font-size: 24px;
  color: #010101;
  margin: 0 0 0 20px;
}

.intro {
  background-color: #fcdb00;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro-inner {
  width: 510px;
  height: 740px;
  padding: 170px 0 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.intro-inner .intro__heading {
  font-family: "Source Sans 3", sans-serif;
  font-weight: bold;
  font-size: 48px;
  color: #010101;
  text-align: center;
  margin-bottom: 25px;
}
.intro-inner .intro__subtitle {
  color: #010101;
  text-align: center;
  margin: 25px 0px;
}
.intro-inner .intro__btn {
  width: 255px;
  height: 50px;
  border: 3px solid #010101;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
  background: rgba(0, 0, 0, 0);
  margin-top: 25px;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.features-inner {
  width: 941px;
  padding: 90px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}
.features-inner .features-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 5%;
}
.features-inner .features-heading .features-heading__title {
  text-align: center;
  margin-bottom: 10px;
}
.features-inner .features-heading .features-heading__subtitle {
  width: 70%;
  text-align: center;
  margin: 10px 0;
}
.features-inner .features-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 7% 15px 23% 15px 7% 15px 23% 15px 7% 15px 23%;
  grid-template-columns: 7% 23% 7% 23% 7% 23%;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  row-gap: 4em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 60px 0 0px;
  padding: 0 20px;
}
.features-inner .features-grid .grid__item {
  text-align: end;
}
.features-inner .features-grid .grid__item i {
  font-size: 40px;
}
.features-inner .features-grid .grid__item__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}
.features-inner .features-grid .grid__item__text .grid__item__title {
  vertical-align: top;
}
.features-inner .features-grid .grid__item__text .grid__item__subtitle {
  margin-top: 10px;
  padding-right: 40px;
  vertical-align: top;
}

.pricing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pricing-inner {
  padding: 90px 0;
  width: 941px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}
.pricing-inner .pricing-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0 80px;
}
.pricing-inner .pricing-heading .pricing-heading__title {
  text-align: center;
}
.pricing-inner .pricing-heading .pricing-heading__subtitle {
  width: 70%;
  text-align: center;
  margin: 10px 0;
}
.pricing-inner .pricing-cols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 -12.5px;
}
.pricing-inner .pricing-cols .pricing__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 12.5px;
}
.pricing-inner .pricing-cols .pricing__column .column__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 280px;
}
.pricing-inner .pricing-cols .pricing__column .column__item .pricing__column__photo {
  background-color: #ebebeb;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
}
.pricing-inner .pricing-cols .pricing__column .column__item .pricing__column__photo i {
  font-size: 40px;
  color: #010101;
  vertical-align: middle;
}
.pricing-inner .pricing-cols .pricing__column .column__item .pricing__column__text {
  margin: 20px 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.pricing-inner .pricing-cols .pricing__column .column__item .pricing__column__text h3 {
  margin: 0px 0 20px;
  text-align: center;
}
.pricing-inner .pricing-cols .pricing__column .column__item .pricing__column__text h4 {
  padding: 0 30px;
  text-align: justify;
}
.pricing-inner .pricing-cols .pricing__column .column__item .pricing__column__price {
  text-align: center;
}
.pricing-inner .pricing-cols .pricing__column .column__item .pricing__column__price .price {
  text-transform: uppercase;
}
.pricing-inner .pricing-cols .pricing__column .column__item .pricing__column__price .price::after {
  display: block;
  content: "";
  background: #010101;
  height: 2px;
  width: 50px;
  margin: 8px auto;
}
.pricing-inner .pricing-cols .pricing__column .column__item .pricing__column__btn {
  width: 55%;
  height: 2.5em;
  border: 3px solid #010101;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  line-height: 2.5em;
  font-size: 16px;
  background: rgba(0, 0, 0, 0);
  margin-top: 25px;
  padding: 0 15px;
}
.pricing-inner .pricing-cols .pricing__column:nth-child(2) .pricing__column__photo {
  background-color: #010101;
}
.pricing-inner .pricing-cols .pricing__column:nth-child(2) .pricing__column__photo i {
  color: white;
}

.works-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.works-container .works__inner {
  padding: 90px 0 70px;
  width: 941px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
}
.works-container .works__inner .works__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0 80px;
}
.works-container .works__inner .works__heading .heading__title {
  text-align: center;
}
.works-container .works__inner .works__heading .heading__subtitle {
  width: 70%;
  text-align: center;
  margin: 10px 0 0;
}
.works-container .works__inner .works-examples .examples__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 20px -10px;
}
.works-container .works__inner .works-examples .examples__row .examples__column {
  padding: 20px 10px;
}
.works-container .works__inner .works-examples .examples__row .examples__column .examples__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.works-container .works__inner .works-examples .examples__row .examples__column .examples__item .item__photo {
  position: relative;
}
.works-container .works__inner .works-examples .examples__row .examples__column .examples__item .item__photo img {
  width: 220px;
  height: 220px;
  background-color: #222222;
}
.works-container .works__inner .works-examples .examples__row .examples__column .examples__item .item__photo .photo__statistic {
  width: 100%;
  position: absolute;
  bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: rgba(128, 128, 128, 0.8);
  padding: 7px 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.works-container .works__inner .works-examples .examples__row .examples__column .examples__item .item__photo .photo__statistic .photo__views,
.works-container .works__inner .works-examples .examples__row .examples__column .examples__item .item__photo .photo__statistic time {
  position: relative;
  color: black;
}
.works-container .works__inner .works-examples .examples__row .examples__column .examples__item .item__photo .photo__statistic .photo__views {
  padding-left: 20px;
}
.works-container .works__inner .works-examples .examples__row .examples__column .examples__item .item__photo .photo__statistic .photo__views::before {
  display: inline-block;
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  top: 0;
  left: 0;
  background: url(../assets/icons/eye-regular.png) 0 0 no-repeat;
  background-size: 100%;
}
.works-container .works__inner .works-examples .examples__row .examples__column .examples__item .item__photo .photo__statistic time {
  padding-right: 20px;
}
.works-container .works__inner .works-examples .examples__row .examples__column .examples__item .item__photo .photo__statistic time::after {
  display: inline-block;
  position: absolute;
  content: "";
  width: 13px;
  height: 13px;
  top: 0;
  right: 0;
  background: url(../assets/icons/clock-regular.png) 0 0 no-repeat;
  background-size: 100%;
}
.works-container .works__inner .works-examples .examples__row .examples__column .examples__item .item__text {
  padding: 15px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.works-container .works__inner .works-examples .examples__row .examples__column .examples__item .item__text .item__subtitle {
  padding: 5px 0 0;
}

.team-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.team-container .team-inner {
  width: 941px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 90px 0 70px;
}
.team-container .team-inner .team-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0 80px;
}
.team-container .team-inner .team-heading .heading__title {
  text-align: center;
}
.team-container .team-inner .team-heading .heading__subtitle {
  width: 70%;
  text-align: center;
  margin: 10px 0 0;
}
.team-container .team-inner .team-profiles .profiles__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 -38.5px;
}
.team-container .team-inner .team-profiles .profiles__row .profiles__column {
  padding: 0 38.5px;
}
.team-container .team-inner .team-profiles .profiles__row .profiles__column .profiles__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.team-container .team-inner .team-profiles .profiles__row .profiles__column .profiles__item .item__photo {
  width: 128px;
  height: 128px;
}
.team-container .team-inner .team-profiles .profiles__row .profiles__column .profiles__item .item__text {
  padding-top: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.team-container .team-inner .team-profiles .profiles__row .profiles__column .profiles__item .item__text .profile__job {
  padding-top: 12px;
}
.team-container .team-inner .team-profiles .profiles__row .profiles__column .profiles__item .item__text .profile__subtitle {
  padding-top: 18px;
}
.team-container .team-inner .team-profiles .profiles__row .profiles__column .profiles__item .item__socials {
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.team-container .team-inner .team-profiles .profiles__row .profiles__column .profiles__item .item__socials i {
  font-size: 18px;
  padding: 0 8px;
}

.stats-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.stats-container .stats-inner {
  width: 941px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 90px 0 70px;
}
.stats-container .stats-inner .stats-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0 80px;
}
.stats-container .stats-inner .stats-heading .heading__title {
  text-align: center;
}
.stats-container .stats-inner .stats-heading .heading__subtitle {
  width: 70%;
  text-align: center;
  margin: 10px 0 0;
}
.stats-container .stats-inner .statistics-container .statistics__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 -45px;
}
.stats-container .stats-inner .statistics-container .statistics__row .statistics__column {
  margin: 0 45px;
}
.stats-container .stats-inner .statistics-container .statistics__row .statistics__column .statistics__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.stats-container .stats-inner .statistics-container .statistics__row .statistics__column .statistics__item i {
  font-size: 45px;
}
.stats-container .stats-inner .statistics-container .statistics__row .statistics__column .statistics__item .number {
  padding-top: 20px;
}
.stats-container .stats-inner .testimonial-container {
  padding: 90px 0 0;
}
.stats-container .stats-inner .testimonial-container .testimonial__column .testimonial__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.stats-container .stats-inner .testimonial-container .testimonial__column .testimonial__item img {
  width: 104px;
  height: 104px;
}
.stats-container .stats-inner .testimonial-container .testimonial__column .testimonial__item .name {
  padding-top: 15px;
}
.stats-container .stats-inner .testimonial-container .testimonial__column .testimonial__item .job {
  padding-top: 8px;
  padding-bottom: 36px;
}
.stats-container .stats-inner .testimonial-container .testimonial__column .testimonial__item .quote-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  justify-items: start;
}
.stats-container .stats-inner .testimonial-container .testimonial__column .testimonial__item .quote-container .quote {
  text-align: center;
  width: 475px;
}
.stats-container .stats-inner .testimonial-container .testimonial__column .testimonial__item .quote-container .quote_left {
  margin-right: 56px;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  font-size: 25px;
  color: #898989;
}
.stats-container .stats-inner .testimonial-container .testimonial__column .testimonial__item .quote-container .quote_right {
  margin-left: 56px;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  font-size: 25px;
  color: #898989;
}

.intouch-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.intouch-container .intouch-inner {
  width: 941px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 90px 0 70px;
}
.intouch-container .intouch-inner .intouch-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0 80px;
}
.intouch-container .intouch-inner .intouch-heading .heading__title {
  text-align: center;
}
.intouch-container .intouch-inner .intouch-heading .heading__subtitle {
  width: 70%;
  text-align: center;
  margin: 10px 0 0;
}
.intouch-container .intouch-inner .contacts-container .contacts__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 -41.5px;
  padding-bottom: 56px;
}
.intouch-container .intouch-inner .contacts-container .contacts__row .contacts__column {
  margin: 0 41.5px;
}
.intouch-container .intouch-inner .contacts-container .contacts__row .contacts__column .contacts__item {
  width: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.intouch-container .intouch-inner .contacts-container .contacts__row .contacts__column .contacts__item i {
  font-size: 25px;
}
.intouch-container .intouch-inner .contacts-container .contacts__row .contacts__column .contacts__item .title {
  padding-top: 20px;
}
.intouch-container .intouch-inner .form-container .form__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.intouch-container .intouch-inner .form-container .form__column input, .intouch-container .intouch-inner .form-container .form__column textarea {
  margin-bottom: 25px;
  width: 480px;
  height: 55px;
  padding: 10px;
  border: 2px solid #010101;
}
.intouch-container .intouch-inner .form-container .form__column textarea {
  height: 207px;
  resize: none;
}
.intouch-container .intouch-inner .form-container .form__column .form__column__btn {
  width: 170px;
  height: 51px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  line-height: 51px;
  font-weight: 400;
  font-size: 16px;
  background: #010101;
  color: white;
  margin-top: 25px;
  padding: 0 15px;
}

.footer-container {
  background-color: #010101;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 90px 0 70px;
}
.footer-container .footer-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0 80px;
}
.footer-container .footer-heading .heading__title {
  color: white;
  text-align: center;
}
.footer-container .footer-heading .heading__subtitle {
  width: 70%;
  text-align: center;
  margin: 10px 0 0;
}
.footer-container .footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer-container .footer__form input {
  width: 597px;
  height: 51px;
  padding: 10px 15px;
}
.footer-container .footer__form .footer__form__btn {
  width: 170px;
  height: 51px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  line-height: 51px;
  font-size: 19px;
  background: white;
  color: #010101;
  margin-left: 10px;
  padding: 0 15px;
}
.footer-container .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 110px;
}
.footer-container .navigation .info__column {
  margin-right: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
}
.footer-container .navigation .info__column p {
  margin-bottom: 10px;
}
.footer-container .navigation .nav__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -45px;
}
.footer-container .navigation .nav__row .nav__column {
  padding: 0 45px;
}
.footer-container .navigation .nav__row .nav__column .column__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
}