$basic-font-stack: 'Source Sans 3', sans-serif;
$primary-text-color: #010101;
$secondary-text-color: #898989;
$secondary-text-color_tint: #313841;
$icons-color: $primary-text-color;
$content-width: 960px;

%section-title {
    font-family: $basic-font-stack;
    font-weight: bold;
    color: $primary-text-color;
    font-size: 32px;
}
%section-subtitle {
    font-family: $basic-font-stack;
    font-weight: 400;
    color: $secondary-text-color;
    font-size: 20px;
}
%item-title {
    font-family: $basic-font-stack;
    font-weight: 400;
    color: $primary-text-color;
    font-size: 24px;
}
%item-title_extra {
    font-family: $basic-font-stack;
    font-weight: 400;
    color: $secondary-text-color;
    font-size: 16px;
}
%item-subtitle {
    font-family: $basic-font-stack;
    font-weight: 400;
    color: $secondary-text-color_tint;
    font-size: 14px;
}