* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}



$basic-font-stack: 'Source Sans 3', sans-serif;
$primary-text-color: #010101;
$secondary-text-color: #898989;
$secondary-text-color_tint: #313841;
$icons-color: $primary-text-color;
$content-width: 941px;

%section-title {
    font-family: $basic-font-stack;
    font-weight: bold;
    color: $primary-text-color;
    font-size: 32px;
}

%section-subtitle {
    font-family: $basic-font-stack;
    font-weight: 400;
    color: $secondary-text-color;
    font-size: 20px;
}

%item-title {
    font-family: $basic-font-stack;
    font-weight: bold;
    color: $primary-text-color;
    font-size: 24px;
}

%item-title_extra {
    font-family: $basic-font-stack;
    font-weight: 400;
    color: $secondary-text-color;
    font-size: 16px;
}

%item-subtitle {
    font-family: $basic-font-stack;
    font-weight: 400;
    color: $secondary-text-color_tint;
    font-size: 14px;
}

header {
    background-color: #fcdb00;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
}

//ужасное решение
$header-height: 70px;

.header-inner {
    width: $content-width;
    height: $header-height;
    padding: 40px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .header__nav {
        flex: 1 1 0;
        font-size: 24px;
        color: $primary-text-color;
    }

    .header__logo {
        flex: 1 1 0;
        display: flex;
        flex-direction: row;
        justify-content: center;

        i {
            color: $primary-text-color;
            font-size: 43px;
            margin-right: 5px;
        }

        .header__logo__title {
            @extend %section-title;
            margin-left: 5px;
        }
    }

    .header-socials {
        flex: 1 1 0;
        display: flex;
        justify-content: end;

        i {
            font-size: 24px;
            color: $primary-text-color;
            margin: 0 0 0 20px;
        }
    }
}

.intro {
    background-color: #fcdb00;
    width: 100%;
    display: flex;
    justify-content: center;
}

.intro-inner {
    width: 510px;
    height: 740px;
    // padding: 0 $content-width * 0.2;
    padding: 170px 0 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .intro__heading {
        font-family: $basic-font-stack;
        font-weight: bold;
        font-size: 48px;
        color: $primary-text-color;
        text-align: center;
        margin-bottom: 25px;
    }

    .intro__subtitle {
        @extend %section-subtitle;
        color: $primary-text-color;
        text-align: center;
        margin: 25px 0px
    }

    .intro__btn {
        width: 255px;
        height: 50px;
        border: 3px solid $primary-text-color;
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;
        line-height: 50px;
        @extend %item-title;
        font-weight: bold;
        background: #00000000;
        margin-top: 25px;

    }
}

.features {
    display: flex;
    justify-content: center;
}

.features-inner {
    width: $content-width;
    padding: 90px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    .features-heading {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        margin: 0 0 5%;

        .features-heading__title {
            @extend %section-title;
            text-align: center;
            margin-bottom: 10px;
        }

        .features-heading__subtitle {
            @extend %section-subtitle;
            width: 70%;
            text-align: center;
            margin: 10px 0;
        }
    }

    .features-grid {
        display: grid;
        grid-template-columns: 7% 23% 7% 23% 7% 23%;
        column-gap: 15px;
        row-gap: 4em;
        justify-content: center;
        align-content: center;
        margin: 60px 0 0px;
        padding: 0 20px;

        //иконки можно было бы сделать через псевдоэлементы
        //но для этого надо поскачивать svg файлы иконок,
        //тк они представлены изначально как шрифт
        .grid__item {
            text-align: end;

            i {
                font-size: 40px;
            }
        }

        .grid__item__text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            justify-items: center;
            align-content: center;

            .grid__item__title {
                @extend %item-title;
                vertical-align: top;
            }

            .grid__item__subtitle {
                @extend %item-subtitle;
                margin-top: 10px;
                padding-right: 40px;
                vertical-align: top;
            }
        }
    }
}

.pricing {
    display: flex;
    justify-content: center;
}

.pricing-inner {
    padding: 90px 0;
    width: $content-width;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;


    .pricing-heading {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        margin: 0px 0 80px;

        .pricing-heading__title {
            @extend %section-title;
            text-align: center;
        }

        .pricing-heading__subtitle {
            @extend %section-subtitle;
            width: 70%;
            text-align: center;
            margin: 10px 0;
        }
    }

    .pricing-cols {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0 -12.5px;

        .pricing__column {
            display: flex;
            padding: 0 12.5px;

            .column__item {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 280px;

                .pricing__column__photo {
                    background-color: #ebebeb;
                    border-radius: 50%;
                    width: 100px;
                    height: 100px;
                    text-align: center;
                    line-height: 100px;

                    i {
                        font-size: 40px;
                        color: $primary-text-color;
                        vertical-align: middle;

                    }

                }


                .pricing__column__text {

                    margin: 20px 0;
                    flex: 1 1 auto;

                    h3 {
                        @extend %item-title;
                        margin: 0px 0 20px;
                        text-align: center;
                    }

                    h4 {
                        @extend %item-title_extra;
                        padding: 0 30px;
                        text-align: justify;
                    }
                }


                .pricing__column__price {
                    text-align: center;

                    .price {
                        @extend %section-title;
                        text-transform: uppercase;

                        &::after {
                            display: block;
                            content: "";
                            background: $primary-text-color;
                            height: 2px;
                            width: 50px;
                            margin: 8px auto;
                        }
                    }

                    .limit {
                        @extend %item-title_extra;
                    }
                }

                .pricing__column__btn {
                    width: 55%;
                    height: 2.5em;
                    border: 3px solid $primary-text-color;
                    text-transform: uppercase;
                    text-decoration: none;
                    text-align: center;
                    line-height: 2.5em;
                    @extend %item-title;
                    font-size: 16px;
                    background: #00000000;
                    margin-top: 25px;
                    padding: 0 15px;
                }

            }


        }

        & .pricing__column:nth-child(2) {
            .pricing__column__photo {
                background-color: $primary-text-color;

                i {
                    color: white;
                }
            }
        }
    }

}


.works-container {
    display: flex;
    justify-content: center;

    .works__inner {
        padding: 90px 0 70px;
        width: $content-width;
        display: flex;
        flex-direction: column;
        justify-items: center;

        .works__heading {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            align-items: center;
            margin: 0px 0 80px;

            .heading__title {
                @extend %section-title;
                text-align: center;
            }

            .heading__subtitle {
                @extend %section-subtitle;
                width: 70%;
                text-align: center;
                margin: 10px 0 0;
            }
        }

        .works-examples {
            .examples__row {
                display: flex;
                flex-wrap: wrap;
                margin: 20px -10px;

                .examples__column {
                    padding: 20px 10px;

                    .examples__item {
                        display: flex;
                        flex-direction: column;

                        .item__photo {
                            position: relative;

                            img {
                                width: 220px;
                                height: 220px;
                                background-color: #222222;
                            }

                            .photo__statistic {
                                width: 100%;
                                position: absolute;
                                bottom: 10px;
                                display: flex;
                                flex-direction: row;
                                background: rgba(128, 128, 128, 0.8);
                                padding: 7px 10px;
                                justify-content: space-between;

                                .photo__views,
                                time {
                                    @extend %item-subtitle;
                                    position: relative;

                                    color: black;
                                }

                                .photo__views {
                                    padding-left: 20px;
                                }

                                .photo__views::before {
                                    display: inline-block;
                                    position: absolute;
                                    content: "";
                                    width: 15px;
                                    height: 15px;
                                    top: 0;
                                    left: 0;
                                    background: url(../assets/icons/eye-regular.png) 0 0 no-repeat;
                                    background-size: 100%;
                                }

                                time {
                                    padding-right: 20px;
                                }

                                time::after {
                                    display: inline-block;
                                    position: absolute;
                                    content: "";
                                    width: 13px;
                                    height: 13px;
                                    top: 0;
                                    right: 0;
                                    background: url(../assets/icons/clock-regular.png) 0 0 no-repeat;
                                    background-size: 100%;
                                }
                            }
                        }

                        .item__text {
                            padding: 15px 0 0;
                            display: flex;
                            flex-direction: column;
                            align-items: center;

                            .item__title {
                                @extend %item-title;
                            }

                            .item__subtitle {
                                padding: 5px 0 0;
                                @extend %item-subtitle;
                            }
                        }
                    }
                }
            }
        }
    }
}


.team-container {
    display: flex;
    justify-content: center;

    .team-inner {
        width: $content-width;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 90px 0 70px;

        .team-heading {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            align-items: center;
            margin: 0px 0 80px;

            .heading__title {
                @extend %section-title;
                text-align: center;
            }

            .heading__subtitle {
                @extend %section-subtitle;
                width: 70%;
                text-align: center;
                margin: 10px 0 0;
            }
        }

        .team-profiles {
            .profiles__row {
                display: flex;
                justify-content: center;
                margin: 0 -38.5px;
                .profiles__column {
                    padding: 0 38.5px;
                    .profiles__item {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        .item__photo {
                            width: 128px;
                            height: 128px;
                        }
                        .item__text {
                            padding-top: 42px;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            text-align: center;
                            .profile__name {@extend %item-title;}
                            .profile__job {@extend %item-title_extra; padding-top: 12px}
                            .profile__subtitle {@extend %item-subtitle; padding-top: 18px}
                        }
                        .item__socials {
                            padding: 12px;
                            display: flex;
                            i{
                                font-size: 18px;
                                padding: 0 8px ;
                            }
                        }
                    }
                }


            }
        }
    }

}


.stats-container {
    display: flex;
    justify-content: center;

    .stats-inner {
        width: $content-width;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 90px 0 70px;
        .stats-heading {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            align-items: center;
            margin: 0px 0 80px;

            .heading__title {
                @extend %section-title;
                text-align: center;
            }

            .heading__subtitle {
                @extend %section-subtitle;
                width: 70%;
                text-align: center;
                margin: 10px 0 0;
            }
        }

        .statistics-container {
            .statistics__row {
                display: flex;
                justify-content: center;
                margin: 0 -45px;
                .statistics__column {
                    margin: 0 45px;
                    .statistics__item {
                        display: flex;
                        flex-direction: column;
                        text-align: center;
                        i {font-size: 45px;}
                        .number {
                            @extend %item-title;
                            padding-top:20px;
                        }
                        .stat {
                            @extend %item-title_extra;
                        }
                    }
                }
            }
        }

        .testimonial-container {
            padding: 90px 0 0;
            .testimonial__column {
                    .testimonial__item {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        img {
                            width: 104px;
                            height: 104px;
                        }
                        .name {
                            padding-top: 15px;
                            @extend %item-title;
                        }
                        .job {
                            padding-top: 8px;
                            padding-bottom: 36px;
                            @extend %item-title_extra;
                        }
                        .quote-container {
                            display: flex;
                            flex-direction: row;
                            justify-items:start;
                            .quote {
                                @extend %section-subtitle;
                                text-align: center;
                                width: 475px;
                            }
                            .quote_left {
                                margin-right: 56px;
                                align-self:start;
                                font-size: 25px;
                                color:$secondary-text-color;
                            }
                            .quote_right {
                                margin-left: 56px;
                                align-self:end;
                                font-size: 25px;
                                color:$secondary-text-color;
                            }

                        }

                        
                    }
            }
        }


    }
}

.intouch-container {
    display: flex;
    justify-content: center;

    .intouch-inner {
        width: $content-width;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 90px 0 70px;
        .intouch-heading {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            align-items: center;
            margin: 0px 0 80px;

            .heading__title {
                @extend %section-title;
                text-align: center;
            }

            .heading__subtitle {
                @extend %section-subtitle;
                width: 70%;
                text-align: center;
                margin: 10px 0 0;
            }
        }

        .contacts-container {
            .contacts__row {
                display: flex;
                justify-content: center;
                margin: 0 -41.5px;
                padding-bottom: 56px;
                .contacts__column {
                    margin: 0 41.5px;
                    .contacts__item {
                        width: 160px;
                        display: flex;
                        flex-direction: column;
                        text-align: center;
                        i {font-size: 25px;}
                        .title {
                            padding-top: 20px;
                            @extend %item-title;
                        }
                        .subtitle {
                            @extend %item-title_extra;
                        }
                    }
                }
            }
        }

        .form-container {
            .form__column {
                display: flex;
                flex-direction: column;
                align-items: center;

                input, textarea {
                    @extend %item-title_extra;
                    margin-bottom: 25px;
                    width: 480px;
                    height: 55px;
                    padding: 10px;
                    border: 2px solid $primary-text-color;
                }

                textarea {
                    height: 207px;
                    resize: none;
                }

                .form__column__btn {
                    width: 170px;
                    height: 51px;
                    text-transform: uppercase;
                    text-decoration: none;
                    text-align: center;
                    line-height: 51px;
                    @extend %item-title;
                    font-weight: 400;
                    font-size: 16px;
                    background: $primary-text-color;
                    color: white;
                    margin-top: 25px;
                    padding: 0 15px;
                }

            }
        }
    }
}

.footer-container {
    background-color: $primary-text-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 90px 0 70px;
    .footer-heading {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        margin: 0px 0 80px;

        .heading__title {
            @extend %section-title;
            color: white;
            text-align: center;
        }

        .heading__subtitle {
            @extend %section-subtitle;
            width: 70%;
            text-align: center;
            margin: 10px 0 0;
        }
    }
    .footer__form {
        display: flex;
        input {
            width: 597px;
            height: 51px;
            padding: 10px 15px;
            @extend %item-title_extra;
        }
        .footer__form__btn {
            width: 170px;
            height: 51px;
            text-transform: uppercase;
            text-decoration: none;
            text-align: center;
            line-height: 51px;
            @extend %item-title;
            font-size: 19px;
            background: white;
            color: $primary-text-color;
            margin-left: 10px;
            padding: 0 15px;
        }

    }

    .navigation {
        display: flex;
        margin-top: 110px;
        .info__column {
            margin-right: 120px;
            display: flex;
            flex-direction: column;
            @extend %item-title_extra;
            color: white;
            p {
                margin-bottom: 10px;
            }
        }
        .nav__row {
            display: flex;
            margin: 0 -45px;
            .nav__column {
                padding: 0 45px;
                .column__container {
                    display: flex;
                    flex-direction: column;
                    @extend %item-title_extra;
                    color: white;
                }
            }
        }
    }
}